<div *ngIf="!pageLoaded">
  <app-loading-content-component></app-loading-content-component>
</div>
<div *ngIf="pageLoaded">
  <div class="page-section">
    <header class="section-header">Update my data</header>
    <div class="section-content">
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-label required-label" for="login">Login</label>
          <input class="form-control" type="text" id="login" formControlName="login">
          <span *ngIf="form.get('login').touched">
            <span class="form-control-message" *ngIf="form.get('login').errors?.required">Field is required</span>
          </span>
        </div>
        <div class="form-group">
          <label class="form-label required-label" for="name">Name</label>
          <input class="form-control" type="text" id="name" formControlName="name">
          <span *ngIf="form.get('name').touched">
            <span class="form-control-message" *ngIf="form.get('name').errors?.required">Field is required</span>
          </span>
        </div>
        <div class="form-group">
          <label class="form-label required-label" for="surname">Surname</label>
          <input class="form-control" type="text" id="surname" formControlName="surname">
          <span *ngIf="form.get('surname').touched">
            <span class="form-control-message" *ngIf="form.get('surname').errors?.required">Field is required</span>
          </span>
        </div>
        <div class="form-group">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" id="description" formControlName="description"></textarea>
        </div>
        <button class="button form-submit" type="submit" [disabled]="!form.valid">Update</button>
      </form>
    </div>
  </div>
</div>