<app-loading-content *ngIf="!pageLoaded">
</app-loading-content>

<div *ngIf="pageLoaded">
  <div class="page-section">
    <header class="section-header">Update product</header>
    <div class="section-content">
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-label required-label" for="name">Name</label>
          <input class="form-control" type="text" id="name" formControlName="name">
          <span *ngIf="form.get('name').touched">
            <span class="form-control-message" *ngIf="form.get('name').errors?.required">Field is required</span>
          </span>
        </div>
        <div class="form-group">
          <label class="form-label required-label" for="kilocaloriesPerUnit">Kilocalories per unit</label>
          <input class="form-control" type="number" min="0" id="kilocaloriesPerUnit" formControlName="kilocaloriesPerUnit">
          <span *ngIf="form.get('kilocaloriesPerUnit').touched">
            <span class="form-control-message" *ngIf="form.get('kilocaloriesPerUnit').errors?.required">Field is required</span>
            <span class="form-control-message" *ngIf="form.get('kilocaloriesPerUnit').errors?.min">Value can't be negative</span>
          </span>
        </div>
        <div class="form-group">
          <label class="form-label required-label" for="defaultUnit">Unit</label>
          <input class="form-control" type="text" id="defaultUnit" formControlName="defaultUnit">
          <span *ngIf="form.get('defaultUnit').touched">
            <span class="form-control-message" *ngIf="form.get('defaultUnit').errors?.required">Field is required</span>
          </span>
        </div>
        <div class="form-group">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" id="description" formControlName="description"></textarea>
        </div>
        <button class="button form-submit" type="submit" [disabled]="!form.valid">Update</button>
      </form>
    </div>
  </div>
</div>