@import './variables.scss';

$main-centered-container-width: 400px;

.button {
  background-color: $primary-color;
  color: $text-icons-color;
  border: 2px solid $dark-primary-color;
  border-radius: 4px;

  padding: 20px;
  font-size: 1.2rem;

  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  background-color: $dark-primary-color;
}

.link {
  color: $accent-color;
  font-weight: 700;  
}

.link:hover {
  cursor: pointer;
  color:  $accent-hover-color;
  text-decoration: underline;
}

.required-label:after {
  color: $error-color;
  content: '*';
}

.main-centered-container {
  background-color: $secondary-color;
  color: $primary-text-color;
  box-shadow: $basic-box-shadow;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: $main-centered-container-width;

  .form {
    padding: 40px;

    .form-header {
      text-align: left;
      font-size: 2rem;

      margin-bottom: 40px;
      text-transform: uppercase;
    }

    .form-group {
      padding: 10px 0;
      margin-bottom: 10px;
      position: relative;

      .form-label {
        display: block;
        margin-bottom: 5px;
        font-size: 1.2rem;
      }

      .form-control {
        display: block;
        width: 100%;
        padding: 7px;

        margin-bottom: 5px;
        border: 2px solid $light-primary-color;
        border-radius: 4px;

        font-size: 1rem;
      }

      .form-control:focus {
        outline: 0;
        border-color: $primary-color;
      }

      .form-control.ng-touched.ng-valid {
        border-color: $success-color;
      }

      .form-control.ng-touched.ng-invalid {
        border-color: $error-color;
      }

      .form-control-message {
        display: block;

        color: $error-color;
        font-size: 0.9rem;
      }

      .form-submit {
        display: block;
        width: 100%;
        margin-top: 20px;
      }
    }

  }
}