$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$primary-color: #3F51B5;
$text-icons-color: #FFFFFF;
$accent-color: #FF9800;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$small-space: 5px;
$big-space: 15px;