$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$primary-color: #3F51B5;
$text-icons-color: #FFFFFF;
$accent-color: #FF9800;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$secondary-color: #fafafa;

$small-space: 5px;
$big-space: 15px;

$basic-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);