<div class="main-centered-container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <header class="form-header">
      Create new account
    </header>
    <div class="form-group">
      Have account?
      <span class="link" (click)="goToLoginPage()">Log in</span>
    </div>
    <div class="form-group">
      <label class="form-label required-label" for="login">Login</label>
      <input class="form-control" type="text" id="login" formControlName="login">
      <span class="form-control-message">Test</span>
    </div>
    <div class="form-group">
      <label class="form-label required-label" for="password">Password</label>
      <input class="form-control" type="password" id="password" formControlName="password">
      <span class="form-control-message">Test</span>
    </div>
    <div class="form-group">
      <label class="form-label required-label" for="confirmedPassword">Confirm password</label>
      <input class="form-control" type="password" id="confirmedPassword" formControlName="confirmedPassword">
      <span class="form-control-message">Test</span>
    </div>
    <div class="form-group">
      <label class="form-label required-label" for="name">Name</label>
      <input class="form-control" type="text" id="name" formControlName="name">
      <span class="form-control-message">Test</span>
    </div>
    <div class="form-group">
      <label class="form-label required-label" for="surname">Surname</label>
      <input class="form-control" type="text" id="surname" formControlName="surname">
      <span class="form-control-message">Test</span>
    </div>
    <div class="form-group">
      <label class="form-label" for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
      <span class="form-control-message">Test</span>
    </div>
    <div class="form-group">
      <button class="button form-submit" type="submit" [disabled]="!form.valid">Submit</button>
    </div>
  </form>
</div>